body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
section{
    margin-bottom: 150px;
}

/* Top Banner Section Design */
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
}
.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 85%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: #fff;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}

/* Dream big Section design  */
.dream-banner {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

/* Experience Area Design */
.experience-item {
    width: 40%;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;

    
}

#fullweb-border{
    border-left: 8px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#babyweb-border{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}


/* Footer */

footer p {
    text-align: center;
}